{{!-- <header class="header">
	<button class="button"><img src="/svg/button-back.svg" alt="повернутись"></button>
	<button class="button"><img src="/img/profile-icon.jpg" alt="профіль" height="24px"></button>
</header> --}}

{{!-- <main class="main">
	<h1 class="title">Мій блог</h1>
	<ul class="post-list">
		<li class="post">
			<div class="header">
				<div class="category-list">
					<span class="category important">Важливо</span>
					<span class="category new">Нова</span>
				</div>
				<span class="date">25.01</span>
			</div>
			<p class="message">До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс</p>
		</li>
		<li class="post post-viewed">
			<div class="header">
				<div class="category-list">
					<span class="category new">Нова</span>
				</div>
				<span class="date">25.01</span>
			</div>
			<p class="message">Ми хотіли щоб у цьому чаті було близько 150 людей щоб зробити якісний пак
				самопрезентацій.</p>
		</li>
		<li class="post">
			<div class="header">
				<div class="category-list">
					<span class="category important">Важливо</span>
				</div>
				<span class="date">25.01</span>
			</div>
			<p class="message">До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс</p>
		</li>
	</ul>
</main> --}}