{{!-- <div class="tab-list">
	<button class="button tab tab-line-left">База знань</button>
	<button class="button tab active tab-line-right">Інформація</button>
</div> --}}

{{!-- <main class="main">
	<img class="img" src="img/community.jpg" alt="community image">
	<h3 class="title">Що таке база знань?</h3>
	<p class="description">База знаний — база данных, содержащая правила вывода и информацию о человеческом опыте и
		знаниях в некоторой предметной области. В самообучающихся системах база знаний также содержит информацию,
		являющуюся результатом решения предыдущих задач. </p>
	<button class="button">Перейти до ком'юніті у Телеграм</button>
</main> --}}